DB_HOST=127.0.0.1
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=3306
PORT=3000
ADMIN_API_TOKEN=change-me
LOGO_UPLOAD_DIR=/home/user/web/junchae.com/public_html/uploads/logos
AD_UPLOAD_DIR=/home/user/web/junchae.com/public_html/uploads/ads
PUBLIC_WEB_ROOT=/home/user/web/junchae.com/public_html
